
 

.card1 {
  color: blueviolet;
  font-size:  50px;
  
}
.card12{
    background-color: rgb(194, 150, 235);
}
.card13{
    background-color: rgb(194, 150, 235) ;
}
.card14{
    background-color: rgb(194, 150, 235)
}
