.container1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  column-gap: 20px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.container2 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  column-gap: 25px;
  max-width: 75%;
  margin: auto;
}
.card3 {
  background-color: aquamarine;
  color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
}
.card4 {
  background-color: blue;
  color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
}
.card5 {
  background-color: black;
  color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
}
.enfant2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}
.enfant1 {
  display: flex;
  max-width: 40%;
}
.parent {
  display: flex;
  justify-content: space-around;
}
.divimages {
  width: 135px;
  height: 56px;
}
.container11 {
    background-color: rgb(188, 249, 249);
    display: flex;
    width: 100%;
    height: 500px;
}
.card8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;
    font-size: 1.125rem;
    color: aquamarine;
}
.card9 {
    scale: 500%;
    margin-top: 100px;
    margin-left: 80px;
}
.card31 {
    display: flex;
    width: 30px;
    height: 40px;
    background-color: aliceblue;
    justify-content: space-around;
    padding: 50px;
    
}
.card32 {
    display: flex;
    width: 30px;
    height: 40px;
    background-color: aliceblue;
    justify-content: space-around;
    padding: 50px;
    
}
.card41 {
    display: flex;
    width: 30px;
    height: 40px;
    background-color: aliceblue;
    justify-content: space-around;
    padding: 50px;
   
}
.card42 {
    display: flex;
    width: 30px;;
    height: 40px;
    background-color: aliceblue;
    justify-content: space-around;
    padding: 50px;
   
}
.card40 {
    display: flex;
    flex-direction: column;
    gap: 15px;
 
}
.card30 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.card50{
    display: flex;
    gap: 15px;
 
}