/* Ajout de styles pour les articles du panier */
.card {
    transition:transform 0.3s ease-in-out;

}


/* Ajout de styles pour l'effet visuel d'ajout au panier */
@keyframes addedToCart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


.added-to-cart {
    animation: addedToCart 0.5s;
}