* {margin: 0; 
    padding:0; 

    font-family:'roboto'
}
nav,ul,li {
    display: inline;
   margin-right: 20px;
   background-color: rgb(174, 164, 164);
   padding: 10px;
   
}
h1{
    background-color:aquamarine;
    width: 300px;
    margin-top: 20px;
}
section { 
    margin-top: 40px;
    margin-bottom: 40px;

}
.contact:hover{
    background-color: blue;
}
.CV:hover{
    background-color: blue;
}