body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #424242;
}

.weather-app {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
}

.search-box {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.city-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.temperature {
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
}

.weather-description {
    font-size: 20px;
}

.weather-details {
    margin-top: 20px;
    text-align: left;
}

.weather-details div {
    margin: 10px 0;
}

.weather-forecast {
    margin-top: 20px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.forecast-item:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
}

.date {
    font-size: 16px;
}

.weather-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
}

/* Adaptations pour les écrans plus petits */
@media (max-width: 600px) {
    .weather-app {
        width: 95%;
        padding: 15px;
    }
}
